*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}
*::-webkit-scrollbar
{
  width: 8px;
  background-color: grey;
}
a{
  text-decoration: inherit;
  color: inherit;
}
.App{
  min-height: 100vh;
  border: 1px solid #0d1d3d93;
  margin: 0px;
  padding: 5px;
   
}